{% extends "PaginaDePruebaApp/base.html" %}

{% load static %}

{% block content %}
<div class= "comentarios">
<h2>Comentarios:</h2>
    {% for coment in comentarios %}
    <form>
        <li style="padding:5px;background-color: rgba(173, 175, 192,0.5);;margin: 20px 20px;">
            <b></b>{{coment.texto}}&nbsp;
            {% if coment.puntuacion == 1 %} <b class = "Estrella">★</b> {% endif %}
            {% if coment.puntuacion == 2 %} <b class = "Estrella">★★</b> {% endif %}
            {% if coment.puntuacion == 3 %} <b class = "Estrella">★★★</b> {% endif %}
            {% if coment.puntuacion == 4 %} <b class = "Estrella">★★★★</b> {% endif %}
            {% if coment.puntuacion == 5 %} <b class = "Estrella">★★★★★</b> {% endif %}
            {% if user.esCliente %}
                <br><button class="btn" onclick="eliminarComentario('{{ coment.id }}')">Eliminar</button>
            {% endif %}
        </li>
    </form>
    {% endfor %}
</div>
<script type="text/javascript">
    function eliminarComentario(coment_id) {
        var request = $.ajax({
            type: "POST",
            url: "{% url 'Comentarios' %}",
            data: {
                "csrfmiddlewaretoken": "{{ csrf_token }}",
                "identificador_id": coment_id                   
            },
        });
        request.done(function(response) {
            alert("Comentario eliminado");
            // Cierra el modal, oculta el identificador eliminado, etc.
        });
    }
</script>
{% endblock %}
