{% extends "PaginaDePruebaApp/base.html" %}

{% load static %}

{% block content %}
<div class="compra">
    <div id="info-compra">
        {{viaje}}
    </div>
    <div id="insumos-compra">
        
    </div>
    <div id=form-compra>
        <form class="compra" action="" method= "post">
            {% csrf_token %}
            <table>{{form.as_table}}</table>
            <br>
            <button class="btn btn-primary" type="submit">Comprar</button>
        </form>
    </div>

</div>

{% endblock %}