{% extends "PaginaDePruebaApp/base.html" %}

{% load static %}

{% block content %}
<div class="compra">

    <div class="info-compra" id=info-viaje>
        <li style="margin-left: 20px;"><b>Origen: </b>{{viaje.ruta.origen}}</li>
        <li style="margin-left: 20px;"><b>Destino: </b>{{viaje.ruta.destino}}</li>
        <li style="margin-left: 20px;"><b>Fecha de partida: </b>{{viaje.fechaSalida}}</li>
        <li style="margin-left: 20px;"><b>Fecha de llegada: </b>{{viaje.fechaLlegada}}</li>
        <li style="margin-left: 20px;"><b>Asientos disponibles: </b>{{viaje.asientosDisponibles}}</li>
        <li style="margin-left: 20px;"><b>Tipo de combi: </b>{{viaje.combi.tipo}}</li>
        <li style="margin-left: 20px;"><b>Precio del pasaje: $</b>{{viaje.precio}}</li>
    </div>

    <div id=info-insumos>
        {% if insumosViaje %}
            <br>
            <div>
                <h3>Insumos para su viaje</h3>
                {% for insumo in insumosViaje %}
                <div id="insumo">
                    {% if insumo.stock > 0 %}
                        <li>{{insumo.nombre}} ${{insumo.precio}}</li>
                        
                        &nbsp;&nbsp;<a href="{% url 'AgregarInsumo' nombreInsumo=insumo.nombre  viaje_id=viaje.id %}">Seleccionar insumo</a>
                        
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if insumosCompraConCantidad %}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div>
                <h3>Insumos seleccionados</h3>
                {% for insumo in insumosCompraConCantidad %}
                    <li style="margin-left: 20px;">
                        </b>{{insumo.0.nombre}} &nbsp; <b>$</b>{{insumo.0.precio}} &nbsp;  x{{insumo.1}}
                        <a href="{% url 'EliminarInsumo' nombreInsumo=insumo.0.nombre viaje_id=viaje.id %}">Eliminar insumo</a>
                    </li> 
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="info-compra" id="invitados">
        {% if invitados %}
            <h3>Lista de invitados</h3>
            {% for invitado in invitados %}
                <li style="margin-left: 20px;">
                    <b>Nombre: </b>{{invitado.nombre}} &nbsp; <b>Apellido: </b>{{invitado.apellido}} &nbsp; <b>DNI: </b>{{invitado.dni}} &nbsp; 
                    <a href="{% url 'EliminarInvitado' invitado.id viaje.id %}">Eliminar invitado</a>
                </li>    
            {% endfor %}
        {% endif %}
        &nbsp; &nbsp; <a href="{% url 'RegistroInvitado' viaje.id %}" style="color:#4c85bb; font-size: medium; ">Para agregar un invitado haga click aquí</a>
    </div>

    <div class="info-compra" id=form-compra>
        {% if not persona.esGold %}
        <form class="compra" action="" method= "post">
            {% csrf_token %}
            <table>{{formTarjeta.as_table}}</table>
            <br>
            <button class="btn btn-primary" type="submit">Comprar</button>
        </form>
        {% else %}
            <h6>Los datos a continuacion son de la tarjeta ya guardada en su cuenta.</h6>
            <h6>Si desea ingresar otra tarjeta para la compra, solamente modifique sus datos.</h6>
            <form class="compra" action="" method= "post">
                {% csrf_token %}
                <table>{{formTarjeta.as_table}}</table>
                <br>
                <button class="btn btn-primary" type="submit">Comprar</button>
            </form>
        {% endif %}
    </div>

</div>
{% endblock %}