{% extends "PaginaDePruebaApp/base.html" %}

{% load static %}
{% block content %}
<div style="background-color: rgba(255, 255, 255,0.8); padding:50px"> 
    <li style="margin-left: 20px;"><b>Origen: </b>{{ruta.origen}}</li>
    <li style="margin-left: 20px;"><b>Destino: </b>{{ruta.destino}}</li>
    <li style="margin-left: 20px;"><b>Salida: </b>{{fechaSalida}}</li>
    <li style="margin-left: 20px;"><b>Llegada: </b>{{fechaLlegada}}</li>
    <li style="margin-left: 20px;"><b>Duracion: </b>{{duracion}}</li>
    <li style="margin-left: 20px;"><b>Asientos disponibles: </b>{{asientosDisponibles}}</li>
    <li style="margin-left: 20px;"><b>Distancia: </b>{{ruta.distancia}}<text>km</text></li>
    <li style="margin-left: 20px;"><b>Descripcion de la ruta: </b>{{ruta.descripcion}}</li>
    <li style="margin-left: 20px;"><b>Combi: </b>{{combi.modelo}}</li>
    <li style="margin-left: 20px;"><b>Tipo: </b>{{combi.tipo}}</li>
    <li style="margin-left: 20px;"><b>Chofer: </b>{{combi.chofer}}</li>
    <li style="margin-left: 20px;"><b>Precio: $</b>{{precio}}</li>
    <li style="margin-left: 20px;"><b>Insumos:</b>
        <!-- ACA IRIA UN FOR QUE RECORRA LA LISTA DE INSUMOS -->
    </li>
</div>     

{% endblock %}