{% extends "PaginaDePruebaApp/base.html" %}

{% load static %}

{% block content %}


<!-- Content -->
<div class="content">
  
<div class="linea">
<h3 class="h3-viajesDisp">Nuestros viajes disponibles </h3>
</div>
<br>
<div class="container-form">
  <form class=" form row g-3", action="/Busqueda/", method="GET">
  <div class="row mb-3">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Origen</label>
    <div class="col-sm-10">
      <input class="form-control" name="origen">
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Destino</label>
    <div class="col-sm-10">
      <input class="form-control" name="destino">
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Fecha de partida</label>
    <div class="form-group">
              <div class='input-group date' id='fecha'>
                  <input type='date' class="form-control" name="fecha" />
                  <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
    </div>
    </div>
    {% if msg %}
      <b style="color:red">{{msg}}</b> 
    {% endif %}
    <button class="btn btn-primary" type="submit">Buscar Pasaje</button>
</form>

</div>

<aside class="aside-cards">
  <!-- Card Insumos -->
<div class="card" style="width: 18rem;">
  <img src="{% static 'PaginaDePruebaApp/img/comidaChatarra.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title">INSUMOS PARA SUS VIAJES</h4>
    <p class="card-text">Usted puede seleccionar insumos para sus viajes................</p>
    <a href="#" class="btn btn-primary">Averiguar mas</a>
  </div>
</div>

<!-- Card COVID -->
<div class="card" style="width: 18rem;">
  <img src="{% static 'PaginaDePruebaApp/img/covid.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title">VIAJES SEGUROS</h4>
    <p class="card-text">Antes de entrar a la combi se le realizan test de Covid-19 a todos los pasajeros</p>
    <a href="#" class="btn btn-primary">Averiguar mas</a>
  </div>
</div>
</aside>



  <!-- Membresia -->
  <section class="page-section cta">
    <div class="container-3">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Suscripción</span>
              <span class="section-heading-lower">Gold</span>
            </h2>
            <p class="mb-0">Suscribite hoy a nuestra membresía Gold por tan solo $250 mensuales y obtené un 10% de descuento en cualquier pasaje!</p>
            
          </div>
          {% if not user.is_staff %}
            {% if user.is_authenticated %}
              {% if not persona.esGold %}
                <a href="{% url 'AltaMembresia' %}" class="btn btn-primary">Suscribirse</a>
              {% endif %}
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  </div>
 


  {% endblock %}
