{% extends "PaginaDePruebaApp/base.html" %}

{% load static %}
{% block content %}
    <div style="background-color: rgba(255, 255, 255,0.8); padding:50px">
        <h3>Listado de pasajeros</h3>
        {% if compradoresConTest or invitadosConTest %}
        <div id="compradores">
            {% if compradoresConTest %}
                {% for comprador in compradoresConTest %}
                    <li style="margin-left: 20px;">
                        <b>Nombre: </b>{{comprador.0.user.first_name}} &nbsp; <b>Apellido: </b>{{comprador.0.user.last_name}} &nbsp; <b>DNI: </b>{{comprador.0.dni}} &nbsp; 
                    </li>
                    {% if not comprador.1 %}
                        <a href="{% url 'CuestionarioCovid' comprador.0.dni viaje_id %}" style="margin-left: 20px;" class="btn btn-primary">Realizar cuestionario COVID-19</a>  
                    {% else %}
                        <p style="color: rgb(26, 196, 11);">Test realizado</p>
                        {% if comprador.0.suspendido %}                            
                            <p style="color: rgb(196, 17, 11);">Sospechoso de covid</p>
                        {% endif %}
                    {% endif %}
                    <br>  
                    <br>
                {% endfor %}
            {% endif %}
        </div>
        <div id="invitados">
            {% if invitadosConTest %}
                {% for invitado in invitadosConTest %}
                    <li style="margin-left: 20px;">
                        <b>Nombre: </b>{{invitado.0.nombre}} &nbsp; <b>Apellido: </b>{{invitado.0.apellido}} &nbsp; <b>DNI: </b>{{invitado.0.dni}} &nbsp; 
                    </li>
                    {% if not invitado.1 %}
                        <a href="{% url 'CuestionarioCovid' invitado.0.dni viaje_id %}" style="margin-left: 20px;" class="btn btn-primary">Realizar cuestionario COVID-19</a>    
                    {% else %}
                        <p style="color: rgb(26, 196, 11);">Test realizado</p>
                        {% if invitado.0.suspendido %}
                            <p style="color: rgb(196, 17, 11);">Sospechoso de covid</p>
                        {% endif %}
                    {% endif %}
                    <br>  
                    <br>
                {% endfor %}
            {% endif %}
        </div>
        {% else %}
        <h4 style="margin-left:20px; color: rgb(247, 72, 3)">Este viaje no tiene pasajeros</h4>
        {% endif %}
    </div>
{% endblock %}