{% extends "PaginaDePruebaApp/base.html" %}

{% load static %}

{% block content %}

{% if viajes %}
<div style="background-color: rgba(255, 255, 255,0.8); padding:50px"> 
    <h2 style="margin-left: 10px;">Proximos viajes:</h2>
    {% for viaje in viajes %}
        {% if not viaje.finalizado %}
            {% if viaje.id == proximo.id %}
            <h4 style="margin-left: 10px;">Su proximo viaje es el siguiente:</h4>
            <li style="margin-left: 20px; color:goldenrod">
                <b>Origen: </b>{{viaje.ruta.origen}} &nbsp; <b>Destino: </b>{{viaje.ruta.destino}} &nbsp; <b>Salida: </b>{{viaje.fechaSalida}} &nbsp; <b>Llegada: </b>{{viaje.fechaLlegada}} &nbsp; <b>Asientos disponibles: </b>{{viaje.asientosDisponibles}} &nbsp; <b>Precio: $</b>{{viaje.precio}}
            </li>
            {% else %}
            <li style="margin-left: 20px;">
                <b>Origen: </b>{{viaje.ruta.origen}} &nbsp; <b>Destino: </b>{{viaje.ruta.destino}} &nbsp; <b>Salida: </b>{{viaje.fechaSalida}} &nbsp; <b>Llegada: </b>{{viaje.fechaLlegada}} &nbsp; <b>Asientos disponibles: </b>{{viaje.asientosDisponibles}} &nbsp; <b>Precio: $</b>{{viaje.precio}}
            </li>
            {% endif %}
            {% if not viaje.enCurso %}
                <a href="{% url 'IniciarViaje' viaje.id %}" style="margin-left: 20px;" class="btn btn-primary">INICIAR VIAJE</a>  
            {% else %}
                <b style="color: green; padding:20px">VIAJE EN CURSO</b>
            {% endif %}    
            <a href="{% url 'FinalizarViaje' viaje.id %}" style="margin-left: 20px;" class="btn btn-primary">FINALIZAR VIAJE</a>
            <a href="{% url 'infoViaje' viaje.id %}" style="margin-left: 20px;" class="btn btn-primary">MAS INFO</a>
            <a href="{% url 'ListaPasajeros' viaje.id %}" style="margin-left: 20px;" class="btn btn-primary">LISTA DE PASAJEROS</a>

            {% if viaje.enCurso %}
                {%if viaje.asientosDisponibles != 0%}
                    <a href="{% url 'CompraExpress' viaje.id%}" style="margin-left: 20px;" class="btn btn-primary">PASAJE EXPRESS</a>
                {% endif %}
                <a href="{% url 'NotificarImprevisto' viaje.id %}" style="margin-left: 20px;" class="btn btn-primary">NOTIFICAR IMPREVISTO</a>
            {% endif %}

            {% if viaje.id == proximo.id %}
                <br>
                <br>
                <br>
                <br>
            {% endif %}
        {% endif %}
    {% endfor %}
    <h2 style="margin-left: 10px;">Viajes realizados:</h2>
    {% for viaje in viajes %}
    {% if viaje.finalizado %}
        <li style="margin-left: 20px;">
            <b>Origen: </b>{{viaje.ruta.origen}} &nbsp; <b>Destino: </b>{{viaje.ruta.destino}} &nbsp; <b>Salida: </b>{{viaje.fechaSalida}} &nbsp; <b>Llegada: </b>{{viaje.fechaLlegada}} &nbsp; <b>Asientos disponibles: </b>{{viaje.asientosDisponibles}} &nbsp; <b>Precio: $</b>{{viaje.precio}}
        </li>
        <a href="{% url 'infoViaje' viaje.id %}" style="margin-left: 20px;" class="btn btn-primary">MAS INFO</a>
        {% if viaje.imprevisto == NULL %}
            <a href="{% url 'NotificarImprevisto' viaje.id %}" style="margin-left: 20px;" class="btn btn-primary">NOTIFICAR IMPREVISTO</a>
        {% else %}
            <a href="{% url 'ModificarImprevisto' viaje.imprevisto.id %}" style="margin-left: 20px;" class="btn btn-primary">MODIFICAR IMPREVISTO</a>
        {% endif %}
    {% endif %}
    {% endfor %} 
</div>     
{% else %}
    <h4 style="background-color: rgba(255, 255, 255,0.8); color:black; padding:50px">No tiene ningun viaje asignado</h4>
{% endif %}

{% endblock %}